<div class="row">
  <div class="wrapper">
    <h1>Create a game and invite a friend !</h1>

    <%= form_for(@game) do |f| %>
      <p>battle-type.com/</p>
      <%= f.text_field :name, value: "", autofocus: "true" %>
      <%= f.submit class: "button" %>
    <% end %>

    <script>
      $(function(){
        $("#game_name").typed({
          strings: "<%= @random_names.join(",") %>".split(','),
          typeSpeed: 10
        });

        $('#game_name').on('click', function(e){
          $(this).data('typed').reset();
        });
      });
    </script>
  </div>
</div>
