<div class="row">
  <%= render "games/stars" %>
  <div class="wrapper">
    <div class="join_us">
      <div class="mothership">
        <div class="ship">
          <%= render "games/ships/svg/mothership" %>
        </div>
      </div>
    </div>
    <div class="too_late">
      <h1>Too late! Game is already full.</h1>
      <p>Start a new game right now!</p>
      <%= render 'components/social_links' %>
    </div>
  </div>
</div>
