# All the keys we'll need
development:
  ADMIN_USERNAME: "curry"
  ADMIN_PASSWORD: "coucoulechat"
  HOST:           "localhost"
  REDIS_URL:      "redis://127.0.0.1:6379"

production:
  ADMIN_USERNAME: ""
  ADMIN_PASSWORD: ""
  HOST:           "battletype.2016.rubyrampage.com"
