# All the keys we'll need
development:
  ADMIN_USERNAME: "curry"
  ADMIN_PASSWORD: "coucoulechat"
  HOST:           "localhost"

production:
  ADMIN_USERNAME: ""
  ADMIN_PASSWORD: ""
  HOST:           "battletype.2016.rubyrampage.com"
