// LIGHTS
@keyframes opacity {
  0%        {opacity: 1;}
  20%       {opacity: 0;}
  40%, 100% {opacity: 1;}
}

// SHIP MOVE
@keyframes movingleft{
  0%{right:-150px;}
  100%{right:1000px;}
}

@keyframes exitingleft {
  0%{right:1000px;}
  100% { right:1400px; }
}

// LEVITATE
@keyframes levitate {
  0% { -webkit-transform: translateY(-5px); }
  50% { -webkit-transform: translateY(0px); }
  100%{ -webkit-transform: translateY(-5px); }
}

@keyframes levitate_slowly {
  0% { -webkit-transform: translateY(-2px); }
  50% { -webkit-transform: translateY(0px); }
  100%{ -webkit-transform: translateY(-2px); }
}

@keyframes levitate_slowly_inverted {
  0% { -webkit-transform: translateY(2px); }
  50% { -webkit-transform: translateY(0px); }
  100%{ -webkit-transform: translateY(2px); }
}

@keyframes levitate_slow_top {
  0% { -webkit-transform: translateY(-1px); }
  50% { -webkit-transform: translateY(0px); }
  100%{ -webkit-transform: translateY(-1px); }
}

@keyframes levitate_slow_bottom {
  0% { -webkit-transform: translateY(1px); }
  50% { -webkit-transform: translateY(0px); }
  100%{ -webkit-transform: translateY(1px); }
}

@keyframes levitate_slow_left {
  0% { -webkit-transform: translateX(1px); }
  50% { -webkit-transform: translateX(0px); }
  100%{ -webkit-transform: translateX(1px); }
}

// SHAKE
@keyframes shake01 {
    0%, 100% {transform: translateY(0);}
    10%, 30%, 50%, 70%, 90% {transform: translateY(-1px);}
    20%, 40%, 60%, 80% {transform: translateY(1px);}
}

@keyframes shake02 {
    0%, 100% {transform: translateY(0);}
    10%, 30%, 50%, 70%, 90% {transform: translateY(1px);}
    20%, 40%, 60%, 80% {transform: translateY(-1px);}
}

// ROTATE

@keyframes rotation_left {
  0% { -webkit-transform: rotate(.5deg) }
  50% { -webkit-transform: rotate(-.5deg) }
  100%{ -webkit-transform: rotate(.5deg) }
}

@keyframes look_right {
  0% { -webkit-transform: translateX(0px); }
  25% { -webkit-transform: translateX(3px); }
  50% { -webkit-transform: translateX(0px); }
  75% { -webkit-transform: translateX(-3px); }
  100%{ -webkit-transform: translateX(0px); }
}

// MOTHERSHIP HIT

@keyframes mothership_hit {
  0% { -webkit-filter: hue-rotate(0); transform: translateY(0); }
  25% { -webkit-filter: hue-rotate(320deg) saturate(1); transform: translateY(-2px);}
  50% { -webkit-filter: hue-rotate(0); transform: translateY(0); }
  75% { -webkit-filter: hue-rotate(320deg) saturate(1); transform: translateY(-2px);}
  100% { -webkit-filter: hue-rotate(0); transform: translateY(0); }
}
