$body_bg: #30374a;
$game_bg_lost: #630000;
$game_bg_lost_gradient: #b70000;
$game_bg_won: #357e49;
$game_bg_won_gradient: #47a963;
$game_bg_attack: #553555;
$game_bg_defense: #00635E;
$white: #fff;
$word_label: #252532;
$life: #FF4D4D;
$game_input: #353E55;
