* {
  box-sizing: border-box;
  color: $white;
}

body {
  background: $body_bg;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;

  .logo {
    display: inline-block;
  }

  .rampage {
    display: inline-block;
    width: 50px;
    height: auto;
  }
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;

  .combat_zone {
      height: 600px;
      margin: 0 auto;
      overflow: hidden;
      position: relative;
      width: 100%;
      transition: background-color 1s;

      &.defense_mode {
        background-color: $game_bg_defense;
        background-image: -webkit-linear-gradient(rgba(255,255,255,0), #00B7AF 100%);
        background-image: -o-linear-gradient(rgba(255,255,255,0), #00B7AF 100%);
        background-image: linear-gradient(rgba(255,255,255,0), #00B7AF 100%);
      }

      &.attack_mode {
        background-color: $game_bg_attack;
        background-image: -webkit-linear-gradient(rgba(255,255,255,0), #00B7AF 100%);
        background-image: -o-linear-gradient(rgba(255,255,255,0), #00B7AF 100%);
        background-image: linear-gradient(rgba(255,255,255,0), #00B7AF 100%);
      }

      .bonus_bar {
        height: 5px;
        background: #2B3142;
        position: absolute;
        bottom: 35px;
        left: 0;
        right: 0;
        width: 400px;
        margin: 0 auto;
        z-index: 200;

        .bonus_percentage {
          height: 5px;
          background: #00FFC6;
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          width: 80px; //FIXME JS ?
          z-index: 300;
        }
      }

      input[type="text"] {
        -moz-appearance: none;
        -moz-box-sizing: border-box;
        -webkit-appearance: none;
        -webkit-box-sizing: border-box;
        appearance: none;
        background-color: $game_input;
        border: 0;
        box-sizing: border-box;
        color: $white;
        font-family: Consolas, monaco, monospace;
        font-size: 1em;
        line-height: normal;
        margin: 0 auto;
        height: 35px;
        text-align: center;
        outline: none;
        padding: 10px;
        width: 400px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 200;
      }
    }
}

.hud {
  height: 100%;
  position: relative;
  width: 100%;

  .room {
    display: inline-block;
    font-family: Consolas, monaco, monospace;
    color: $white;
    font-size: 1.2em;
    font-weight: normal;
    line-height: 0;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 25px;
    left: 10px;
  }

  .player, .opponent {
    display: inline-block;
    font-family: Consolas, monaco, monospace;
    text-transform: uppercase;
    color: $white;
    font-size: 1.2em;
    font-weight: normal;
    line-height: 0;
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 60px;
  }

  .player {
    left: 10px;
  }

  .opponent {
    right: 10px;
  }

  .player_bonus {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 400px;
    text-align: center;
    z-index: 100;

    img {
      width: 28px;
      height: 28px;
      display: inline-block;
      margin: 0;
    }

    p {
      display: inline-block;
      font-family: Consolas, monaco, monospace;
      color: $white;
      font-size: 1em;
      font-weight: normal;
      line-height: 0;
      padding: 0;
      margin: 0 0 0 10px;
    }
  }

  #life_player, #life_opponent {
    display: block;
    width: 172px;
    height: 45px;
    background: url(under_life.svg);
    background-size: 172px 45px;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    list-style-type:none;
    margin: 0;
    padding: 5px 26px 5px 5px;
    position: absolute;
    align-items: center;

    .life_bar {
      display: block;
      width: 10px;
      height: 28px;
      margin: 0;
      padding: 0;
    }

    .life_bar:nth-child(-n+3) {
      svg {
        fill: $life;
      }
    }

    .life_bar:nth-child(n+4) {
      svg {
        fill: lighten($life, 10);
      }
    }

    .life_bar:nth-child(n+7) {
      svg {
        fill: lighten($life, 20);
      }
    }

    .life_bar:last-child {
      svg {
        fill: lighten($life, 30);
      }
    }
  }

  #life_player {
    left: 0;
  }

  #life_opponent {
    right: 0;
    transform: scaleX(-1)
  }
}
