.large_ship {
  text-align: center;
  position: absolute;
  display: block;
  right: -150px;   //FIXME (positionnement en JS ?)
  top: 350px;      //FIXME (positionnement en JS ?)

  -webkit-animation: movingleft 40s linear infinite;
  -moz-animation: movingleft 40s linear infinite;
  animation: movingleft 40s linear infinite;

  .word {
    background: $word_label;
    border-radius: 4px;
    color: $white;
    display: inline-block;
    font-family: Consolas, monaco, monospace;
    font-size: .8em;
    margin: 0;
    padding: 3px 5px;
  }

  .ship {
    display: block;

    svg {
      height: 90px;

      #Ship02 {
        -webkit-animation: levitate 3s ease infinite;
        -moz-animation: levitate 3s ease infinite;
        animation: levitate 3s ease infinite;
        -webkit-animation: levitate 2s ease infinite;
        -moz-animation: levitate 2s ease infinite;
        animation: levitate 2s ease infinite;
      }

      #fuselage, #lights, #pulsar, #fire {
        -webkit-animation: levitate_slow_left .2s ease infinite;
        -moz-animation: levitate_slow_left .2s ease infinite;
        animation: levitate_slow_left .2s ease infinite;
      }

      #bottom_wing, #wing_structure02 {
        -webkit-animation: levitate_slow_top 1s ease infinite;
        -moz-animation: levitate_slow_top 1s ease infinite;
        animation: levitate_slow_top 1s ease infinite;
      }

      #top_wing, #wing_structure01, #wing_structure03 {
        -webkit-animation: levitate_slow_bottom 1s ease infinite;
        -moz-animation: levitate_slow_bottom 1s ease infinite;
        animation: levitate_slow_bottom 1s ease infinite;
      }

      #secondfuselage, #lightstop {
        -webkit-animation: levitate_slow_bottom 2s ease infinite;
        -moz-animation: levitate_slow_bottom .2s ease infinite;
        animation: levitate_slow_bottom 2s ease infinite;
      }

      #fire01 {
        -webkit-animation: shake01 .1s ease infinite;
        -moz-animation: shake01 .1s ease infinite;
        animation: shake01 .1s ease infinite;
      }

      #fire02 {
        -webkit-animation: shake02 .1s ease infinite;
        -moz-animation: shake02 .1s ease infinite;
        animation: shake02 .1s ease infinite;
      }

      .light {
        -webkit-animation: opacity 2s ease infinite;
        -moz-animation: opacity 2s ease infinite;
        animation: opacity 2s ease infinite;

        &.circle01 {animation-delay: .2s}
        &.circle02 {animation-delay: .4s}
        &.circle03 {animation-delay: .6s}
        &.circle04 {animation-delay: .8s}
      }

    }
  }
}
