.medium_ship {
  text-align: center;
  position: absolute;
  display: block;
  right: -150px;   //FIXME (positionnement en JS ?)
  top: 150px;      //FIXME (positionnement en JS ?)

  -webkit-animation: movingleft 30s linear normal;
  -moz-animation: movingleft 30s linear normal;
  animation: movingleft 30s linear normal;
  
  &.leaving {
    -webkit-animation-delay: .1s;
    -moz-animation-delay: .1s;
    animation-delay: .1s;

    -webkit-animation: exitingleft 3s ease-in;
    -moz-animation: exitingleft 3s ease-in;
    animation: exitingleft 3s ease-in;
  }

  .word {
    background: $word_label;
    border-radius: 4px;
    color: $white;
    display: inline-block;
    font-family: Consolas, monaco, monospace;
    font-size: .8em;
    margin: 0 0 5px 0;
    padding: 3px 5px;
  }

  .ship {
    display: block;
    padding: 0 6px;
    background: url(ship_selected.svg);
    background-size: 0% auto;
    background-repeat: no-repeat;
    background-position: center;

    &.targeted_ship {
      background: url(ship_selected.svg);
      background-size: 100% auto;
      background-repeat: no-repeat;
      background-position: center;
      -webkit-transition: background-size .2s ease-out;
       -moz-transition: background-size .2s ease-out;
            transition: background-size .2s ease-out;
    }

    svg {
      height: 80px;
      width: 120px;

      #Ship02 {
        -webkit-animation: levitate 3s ease infinite;
        -moz-animation: levitate 3s ease infinite;
        animation: levitate 3s ease infinite;
        -webkit-animation: levitate 2s ease infinite;
        -moz-animation: levitate 2s ease infinite;
        animation: levitate 2s ease infinite;
      }

      #fuselage, #lights, #pulsar, #fire {
        -webkit-animation: levitate_slow_left .2s ease infinite;
        -moz-animation: levitate_slow_left .2s ease infinite;
        animation: levitate_slow_left .2s ease infinite;
      }

      #bottom_wing, #wing_structure02 {
        -webkit-animation: levitate_slow_top 1s ease infinite;
        -moz-animation: levitate_slow_top 1s ease infinite;
        animation: levitate_slow_top 1s ease infinite;
      }

      #top_wing, #wing_structure01  {
        -webkit-animation: levitate_slow_bottom 1s ease infinite;
        -moz-animation: levitate_slow_bottom 1s ease infinite;
        animation: levitate_slow_bottom 1s ease infinite;
      }

      #fire01 {
        -webkit-animation: shake01 .1s ease infinite;
        -moz-animation: shake01 .1s ease infinite;
        animation: shake01 .1s ease infinite;
      }

      #fire02 {
        -webkit-animation: shake02 .1s ease infinite;
        -moz-animation: shake02 .1s ease infinite;
        animation: shake02 .1s ease infinite;
      }

      .light {
        -webkit-animation: opacity 2s ease infinite;
        -moz-animation: opacity 2s ease infinite;
        animation: opacity 2s ease infinite;

        &.circle01 {animation-delay: .2s}
        &.circle02 {animation-delay: .4s}
        &.circle03 {animation-delay: .6s}
        &.circle04 {animation-delay: .8s}
      }

    }
  }
}
