#stdin {
  color: $white;

  &.attack {
    background-color: $game_input;
    background-image: asset-url("icon_attack.svg");
    background-size: 30px 30px;
    background-position: 5px;
    background-repeat: no-repeat;
  }

  &.defense {
    background-color: $game_input;
    background-image: asset-url("icon_defense.svg");
    background-size: 30px 30px;
    background-position: 5px;
    background-repeat: no-repeat;
  }
}
